# Dependências
node_modules/
dist/

# Variáveis de ambiente — NUNCA suba isso pro GitHub!
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Playwright
/test-results/
/playwright-report/

# OS
.DS_Store
Thumbs.db
